{{ 'piaolsen.css' | asset_url | stylesheet_tag }}

{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }} .piaolsen-section-presentation__subimage img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
  }

  /* Mobile **/
  @media screen and (max-width: 749px) {
      {%- # Makes presentation only page width: -%}
    .section-{{ section.id }} .image-with-text { 
      padding-left: var(--piaolsen-spacing__page_width);
      padding-right: var(--piaolsen-spacing__page_width);
    }
  }
{%- endstyle -%}

{%- liquid
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
-%}

<div class="section-{{ section.id }} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
  <div class="page-width">
    <div class="piaolsen-section piaolsen-section--no-bottom-border piaolsen-section--no-bottom-space">
      <div class="image-with-text image-with-text--no-overlap isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        <div class="image-with-text__grid grid grid--gapless grid--1-col grid--{% if section.settings.desktop_image_width == 'medium' %}2-col-tablet{% else %}3-col-tablet{% endif %}">
          <div class="image-with-text__media-item image-with-text__media-item--{{ section.settings.desktop_image_width }} image-with-text__media-item--bottom grid__item">
            <div
              class="image-with-text__media image-with-text__media--adapt global-media-settings background-transparent{% if section.settings.pia != blank %} media{% else %} image-with-text__media--placeholder placeholder{% endif %}"
              {% if section.settings.pia != blank %}
                style="padding-bottom: {{ 1 | divided_by: section.settings.pia.aspect_ratio | times: 100 }}%;"
              {% endif %}
            >
              {%- if section.settings.pia != blank -%}
                {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                {%- capture sizes -%}
                (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
              {%- endcapture -%}
                {{
                  section.settings.pia
                  | image_url: width: 1500
                  | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
                }}
              {%- else -%}
                {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
              {%- endif -%}
            </div>
          </div>
          <div class="image-with-text__text-item grid__item color-{{ section.settings.color_scheme }}">
            <div
              id="ImageWithText--{{ section.id }}"
              class="image-with-text__content image-with-text__content--bottom image-with-text__content--desktop-left image-with-text__content--mobile-left image-with-text__content--adapt content-container background-transparent"
            >
              <h2 class="image-with-text__heading inline-richtext h1" {{ section.shopify_attributes }}>
                {{ section.settings.heading }}
              </h2>
              <div class="image-with-text__text rte body" {{ section.shopify_attributes }}>
                {{ section.settings.text }}
              </div>

              {%- if section.settings.button_label != blank -%}
                <a
                  href="https://piaolsen.com/"
                  class="button button--primary"
                  target="_blank"
                  {{ section.shopify_attributes }}
                >
                  {{- section.settings.button_label | escape -}}
                </a>
              {%- endif -%}
            </div>
          </div>
          {% if section.settings.subimage != blank %}
            <div class="piaolsen-section-presentation__subimage gradient isolate">
              {{
                section.settings.subimage
                | image_url: width: 1500
                | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
              }}
            </div>
          {% endif %}
        </div>
      </div>
      {% if false %}
        <div class="rich-text content-container rich-text--full-width content-container--full-width">
          <div class="rich-text__wrapper rich-text__wrapper--center page-width">
            <div class="rich-text__blocks center">
              <div
                class="rich-text__buttons{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ section.shopify_attributes }}
              >
                {%- if section.settings.button_label != blank -%}
                  <a href="https://piaolsen.com/" class="button button--primary" target="_blank">
                    {{- section.settings.button_label | escape -}}
                  </a>
                {%- endif -%}
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Pia · Præsentation",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "pia",
      "label": "Pia"
    },
    {
      "type": "select",
      "id": "desktop_image_width",
      "options": [
        {
          "value": "small",
          "label": "Lille"
        },
        {
          "value": "medium",
          "label": "Mellem"
        },
        {
          "value": "large",
          "label": "Stor"
        }
      ],
      "default": "medium",
      "label": "... vises i denne størrelse (på computeren)"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Overskrift",
      "default": "Overskrift"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Beskrivelse",
      "default": "<p>Blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah.</p>"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Besøg piaolsen.com >",
      "label": "Tekst på 'piaolsen.com'-knappen"
    },
    {
      "type": "image_picker",
      "id": "subimage",
      "label": "Underbillede"
    },
    {
      "type": "header",
      "content": "Farveskemaer"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Farvepalette i brug:",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Pia · Præsentation"
    }
  ]
}
{% endschema %}
