{{ 'piaolsen.css' | asset_url | stylesheet_tag }}

{%- style -%}
  /* Desktop & Mobile **/
  .section-{{ section.id }} {
    text-align: center;
    border: none;
    overflow: hidden !important;
  }

  .piaolsen-section-logo {
    display: inline-block;
  }

  .piaolsen-section-logo img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
  } 

  .piaolsen-section-logo__eyecatcher {
    display: inline-block;
    width: 80%;
  }

  .piaolsen-section-logo__logo {
    display: inline-block;
    width: 100%;
  }

  /* Mobile **/

  @media screen and (max-width: 749px) {
    .piaolsen-section-logo {
      width: {{ settings.page_width | divided_by: 4.5 }}px;
    }
  }

  /* Desktop **/

  @media screen and (min-width: 750px) {
    .piaolsen-section-logo {
      width: {{ settings.page_width | divided_by: 3.75 }}px;
    }
  }
{%- endstyle -%}

<div class="section-{{ section.id }} isolate global-media-settings{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
  <div class="page-width">
    <div class="piaolsen-section piaolsen-section--no-top-space piaolsen-section--no-top-border">
      <div class="piaolsen-section-logo">
        {%- if section.settings.eyecatcher != blank -%}
          <div class="piaolsen-section-logo__eyecatcher">
            {%- liquid
              assign eyecatcher_width = section.settings.eyecatcher.width
              assign eyecatcher_height = section.settings.eyecatcher.width
            -%}
            {{
              section.settings.eyecatcher
              | image_url: width: eyecatcher_width
              | image_tag: width: eyecatcher_width, height: eyecatcher_height, fetchpriority: 'high'
            }}
          </div>
        {%- endif -%}

        {%- if section.settings.logo != blank -%}
          <div class="piaolsen-section-logo__logo">
            {{
              section.settings.logo
              | image_url: width: section.settings.logo.width
              | image_tag:
                width: section.settings.logo.width,
                height: section.settings.logo.height,
                fetchpriority: 'high'
            }}
          </div>
        {%- endif -%}

        {%- if section.settings.show_text and section.settings.text != blank -%}
          <div class="rte {{ section.settings.text_style }}" {{ settings.shopify_attributes }}>
            {{ section.settings.text }}
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Pia · Logo",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header","footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "eyecatcher",
      "label": "Blikfang"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Undertekst",
      "default": "Blah, blah, blah, blah, blah"
    },
    {
      "type": "checkbox",
      "id": "show_text",
      "label": "Vis undertekst",
      "default": true
    },
    {
      "type": "select",
      "id": "text_style",
      "label": "Undertekststil",
      "options": [
        {
          "value": "body",
          "label": "t:sections.featured-collection.settings.description_style.options__1.label"
        },
        {
          "value": "subtitle",
          "label": "t:sections.featured-collection.settings.description_style.options__2.label"
        },
        {
          "value": "uppercase",
          "label": "t:sections.featured-collection.settings.description_style.options__3.label"
        }
      ],
      "default": "subtitle"
    }
  ],
  "presets": [
    {
      "name": "Pia · Logo"
    }
  ]
}
{% endschema %}
