{{ 'piaolsen.css' | asset_url | stylesheet_tag }}
{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'template-collection.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign section_padding_top = 72
  assign section_padding_bottom = 96
  assign top_padding_bottom = 0
  if section.settings.hide-collection
    assign top_padding_bottom = section_padding_bottom
  endif
  assign desktop_grid_padding_top = 48
  assign desktop_grid_padding_bottom = 24
  assign mobile_grid_padding_bottom = 24
  assign desktop_thumbnail_padding_horizontal = 12
  assign desktop_description_padding_bottom = 0
  assign mobile_description_padding_bottom = 24
%}

{%- style -%}
  /* Desktop & Mobile *****************************************************************************/

  /* Section: */
  .section-{{ section.id }} .piaolsen-section-top {
    border-top: 1px solid #bbb;
    padding-top: {{ section_padding_top | times: 0.75 | round: 0 }}px;
  } 
  .section-{{ section.id }} .piaolsen-section-bottom {
    padding-bottom: {{ section_padding_bottom | times: 0.75 | round: 0 }}px;
  }
  
  /* Overskrift + Beskrivelse: */
  .section-{{ section.id }} .image-with-text__content {
    padding-left: 0;
    padding-bottom: {{ mobile_description_padding_bottom }}px;
  }
  
  /* Topbillede: */
  .section-{{ section.id }} .image-with-text__media {
    border: none;
  }

  /* Overskrift + Beskrivelse + Topbillede */
  .section-{{ section.id }} .image-with-text__grid {
    padding-bottom: {{ top_padding_bottom | times: 0.75 | round: 0 }}px;
  }
  
  /* Produkter: */
  .section-{{ section.id }} .collection {
    padding-bottom: {{ mobile_grid_padding_bottom }}px;
  }
  
  /* Produkt-thumbnail: */
  .section-{{ section.id }} ul > li .card {
  }
  .section-{{ section.id }} ul > li:first-child .card {
  }
  .section-{{ section.id }} ul > li:last-child .card {
  }  
  
  /* Desktop **************************************************************************************/
  
  @media screen and (min-width: 750px) {
    /* Section: */
    .section-{{ section.id }} .piaolsen-section-top {
      padding-top: {{ section_padding_top }}px;
    }
    .section-{{ section.id }} .piaolsen-section-bottom {
      padding-bottom: {{ section_padding_bottom }}px;
    }
    
    /* Overskrift + Beskrivelse: */
    .section-{{ section.id }} .image-with-text__content {
      padding-bottom: {{ desktop_description_padding_bottom }}px;
    }
    
    /* Topbillede: */
    .section-{{ section.id }} .image-with-text__media {
    }

    /* Overskrift + Beskrivelse + Topbillede */
    .section-{{ section.id }} .image-with-text__grid {
      padding-bottom: {{ top_padding_bottom }}px;
    }
    
    /* Produkter: */
    .section-{{ section.id }} .collection {
      padding: {{ desktop_grid_padding_top }}px 0 {{ desktop_grid_padding_bottom }}px 0;
    }
    
    /* Produkt-thumbnail: */
    .section-{{ section.id }} ul > li .card {
      margin: 0 {{ desktop_thumbnail_padding_horizontal }}px 0 0;
    }
    .section-{{ section.id }} ul > li:first-child .card {
    }
    .section-{{ section.id }} ul > li:last-child .card {
    }
  }  
{%- endstyle -%}

{%- liquid
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif

  assign teaser_image = section.settings.image
  if teaser_image == blank
    assign teaser_image = section.settings.collection.image
  endif

  unless section.settings.hide-collection 
    assign collection = section.settings.collection
    assign handle = collection.handle | append: "-teaser"
    if collections[handle] and collections[handle].all_products_count > 0
      assign collection = collections[handle]
    endif

    assign products_to_display = collection.all_products_count
    if collection.all_products_count > section.settings.products_to_show
      assign products_to_display = section.settings.products_to_show
    endif

    assign columns_mobile_int = section.settings.columns_mobile | plus: 0
    assign show_mobile_slider = true
    if false and products_to_display > columns_mobile_int
      assign show_mobile_slider = true
    endif
    assign show_desktop_slider = false
    if false and products_to_display > section.settings.columns_desktop
      assign show_desktop_slider = true
    endif
  endunless
-%}

<div class="section-{{ section.id }} gradient isolate color-{{ section.settings.color_scheme }}">
  <div class="piaolsen-section-top page-width">
    <div class="image-with-text image-with-text--no-overlap isolate{% if settings.text_boxes_border_thickness > 0 and settings.text_boxes_border_opacity > 0 and settings.media_border_thickness > 0 and settings.media_border_opacity > 0 %} collapse-borders{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      <div class="image-with-text__grid grid grid--gapless grid--1-col grid--{% if section.settings.desktop_image_width == 'medium' %}2-col-tablet{% else %}3-col-tablet{% endif %} image-with-text__grid--reverse">
        <div class="image-with-text__media-item image-with-text__media-item--{{ section.settings.desktop_image_width }} image-with-text__media-item--bottom grid__item">
          <div
            class="image-with-text__media image-with-text__media--adapt global-media-settings background-transparent{% if teaser_image != blank %} media{% else %} image-with-text__media--placeholder placeholder{% endif %}"
            {% if teaser_image != blank %}
              style="padding-bottom: {{ 1 | divided_by: teaser_image.aspect_ratio | times: 100 }}%;"
            {% endif %}
          >
            {%- if teaser_image != blank -%}
              {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
              {%- capture sizes -%}
                (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
              {%- endcapture -%}
              {{
                teaser_image
                | image_url: width: 1500
                | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
              }}
            {%- else -%}
              {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
          </div>
        </div>                
        <div class="image-with-text__text-item grid__item">
          <div id="ImageWithText--{{ section.id }}"
            class="image-with-text__content image-with-text__content--bottom image-with-text__content--desktop-left image-with-text__content--mobile-left image-with-text__content--adapt content-container background-transparent"
          >
            <h2 class="image-with-text__heading inline-richtext h1" {{ section.shopify_attributes }}>{{ section.settings.heading }}</h2>      
            <div class="image-with-text__text rte body" {{ section.shopify_attributes }}>{{ section.settings.text }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% unless section.settings.hide-collection %}
  <div class="collection" id="collection-{{ section.id }}" data-id="{{ section.id }}">
    <slider-component class="slider-mobile-gutter{% if show_mobile_slider == false %} page-width{% endif %}{% if show_desktop_slider == false %} page-width-desktop{% endif %}{% if show_desktop_slider %} slider-component-desktop{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      <ul
        id="Slider-{{ section.id }}"
        data-id="{{ section.id }}"
        class="grid product-grid contains-card contains-card--product{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid--{{ section.settings.columns_desktop }}-col-desktop{% if section.settings.collection == blank %} grid--2-col-tablet-down{% else %} grid--{{ section.settings.columns_mobile }}-col-tablet-down{% endif %}{% if show_mobile_slider or show_desktop_slider %} slider{% if show_desktop_slider %} slider--desktop{% endif %}{% if show_mobile_slider %} slider--tablet grid--peek{% endif %}{% endif %}"
        role="list"
        aria-label="{{ 'general.slider.name' | t }}"
      > 
        {% assign skip_card_product_styles = false %}
        {%- for product in collection.products limit: section.settings.products_to_show -%}
          <li
            id="Slide-{{ section.id }}-{{ forloop.index }}"
            class="grid__item{% if show_mobile_slider or show_desktop_slider %} slider__slide{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
            {% render 'card-product',
              card_product: product,
              media_aspect_ratio: section.settings.image_ratio,
              image_shape: 'default',
              show_secondary_image: false,
              show_vendor: false,
              show_rating: false,
              skip_styles: skip_card_product_styles,
              section_id: section.id,
              quick_add: false
            %}
          </li>
          {%- assign skip_card_product_styles = true -%}
        {%- else -%}
          {%- for i in (1..section.settings.columns_desktop) -%}
            <li
              class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
                style="--animation-order: {{ forloop.index }};"
              {% endif %}
            >
              {% liquid
                assign ridx = forloop.rindex
                case ridx
                  when 5
                    assign ridx = 1
                  when 6
                    assign ridx = 2
                endcase
              %}
              {%- assign placeholder_image = 'product-apparel-' | append: ridx -%}
              {% render 'card-product',
                show_vendor: false,
                media_aspect_ratio: section.settings.image_ratio,
                image_shape: section.settings.image_shape,
                placeholder_image: placeholder_image
              %}
            </li>
          {%- endfor -%}
        {%- endfor -%}
      </ul>
      {%- if show_mobile_slider or show_desktop_slider -%}
        <div class="slider-buttons">
          <button
            type="button"
            class="slider-button slider-button--prev"
            name="previous"
            aria-label="{{ 'general.slider.previous_slide' | t }}"
            aria-controls="Slider-{{ section.id }}"
          >
            {% render 'icon-caret' %}
          </button>
          <div class="slider-counter caption">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
            <span class="slider-counter--total">{{ products_to_display }}</span>
          </div>
          <button
            type="button"
            class="slider-button slider-button--next"
            name="next"
            aria-label="{{ 'general.slider.next_slide' | t }}"
            aria-controls="Slider-{{ section.id }}"
          >
            {% render 'icon-caret' %}
          </button>
        </div>
      {%- endif -%}
    </slider-component>
  </div>

  <div class="piaolsen-section-bottom rich-text content-container rich-text--full-width content-container--full-width">
    <div class="rich-text__wrapper rich-text__wrapper--center page-width">
      <div class="rich-text__blocks center">
              <div
                class="rich-text__buttons{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ section.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: 0;"
                {% endif %}
              >
                {%- if section.settings.button_label != blank -%}
                  <a
                    {% if section.settings.collection == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ section.settings.collection.url }}"
                    {% endif %}
                    class="button button--primary"
                  >
                    {{- section.settings.button_label | escape -}}
                  </a>
                {%- endif -%}
              </div>
      </div>
    </div>
  </div>
{% endunless %}
</div>

{% schema %}
{
  "name": "Pia · Kollektionsteaser",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [ 
    {
      "type": "collection",
      "id": "collection",
      "label": "Kollektion"
    },      
    {
      "type": "image_picker",
      "id": "image",
      "label": "Topbillede",
      "info": "(Hvis du ikke vælger et billede her, så vises blot billedet fra kollektionen)"
    },
    {
      "type": "select",
      "id": "desktop_image_width",
      "options": [
        {
          "value": "small",
          "label": "Lille"
        },
        {
          "value": "medium",
          "label": "Mellem"
        },
        {
          "value": "large",
          "label": "Stor"
        }
      ],
      "default": "medium",
      "label": "... vises i denne størrelse (på computeren)"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Overskrift",
      "default": "Overskrift"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Beskrivelse",
      "default": "<p>Blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah, blah.</p>"
    },  
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 8,
      "step": 1,
      "default": 4,
      "label": "Der vises ikke flere thumbnails end"
    },
    {
      "type": "select",
      "id": "columns_desktop",
      "default": "4",
      "label": "# kolonner på computer",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        }
      ]
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "1",
      "label": "# kolonner på mobil",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "Tilpasset"
        },
        {
          "value": "portrait",
          "label": "Portræt"
        },
        {
          "value": "square",
          "label": "Kvadratisk"
        }
      ],
      "default": "adapt",
      "label": "Thumbnail-format"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Se mere >",
      "label": "Tekst på 'Se mere'-knappen"
    },
    {
      "type": "checkbox",
      "id": "hide-collection",
      "default": false,
      "label": "Skjul thumbnails!"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Farvepalette i brug:",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Pia · Kollektionsteaser"
    }
  ]
}
{% endschema %}
