{{ 'piaolsen.css' | asset_url | stylesheet_tag }}

{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .piaolsen-footer .list-payment, .piaolsen-footer .list-unstyled {
    display: flex;
    justify-content: center;
  }

  .copyright {
    text-align: center;
  }

  .piaolsen-footer--policies {
    text-align: center;
  }
  
  .piaolsen-footer--policies ul {
    list-style: none;
    padding: 0;
  }

  /* Mobile **/
  @media screen and (max-width: 750px) {
    .piaolsen-footer--policies ul li a {
      display: inline-block;
      width: 100%;
    }
  }

  /* Desktop **/
  @media screen and (min-width: 750px) {
    .piaolsen-footer--policies ul li {
      display: inline-block;
    }
    
    .piaolsen-footer--policies ul li {
      margin: 0 20px;
    }
  }
{%- endstyle -%}

<footer class="footer">
  <div class="page-width">
    <div class="piaolsen-footer piaolsen-footer--no-bottom-space color-{{ section.settings.color_scheme }} gradient">
      {%- # Payment methods: -%}
      {%- if section.settings.payment_enable -%}
        <div>
          <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
          <ul class="list list-payment" role="list">
            {%- for type in shop.enabled_payment_types -%}
              <li class="list-payment__item">
                {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }} 
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}
      
      {%- # Links menu: -%}
      {%- if section.settings.menu != blank -%}
        <div class="piaolsen-footer--policies">
          <ul>
            {%- for link in section.settings.menu.links -%}
              <li>
                <a class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}" href="{{ link.url }}">
                  {{ link.title | escape }} 
                </a>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}

      {%- # Copyright: -%}
      <div class="copyright">
        <small class="copyright__content">
          &copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url -}}
        </small>
        <small class="copyright__content">{{ powered_by_link }}</small>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Pia · Sidefod",
  "class": "section-footer",
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "footer",
      "label": "Links"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Pia · Sidefod"
    }
  ]
}
{% endschema %}
