{{ 'piaolsen.css' | asset_url | stylesheet_tag }}

{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}

{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- style -%}
  {%- # Space below title: -%}
  .section-{{ section.id }} .title {
    margin-bottom: var(--piaolsen-spacing__section__collection-teaser__title--bottom);
  }

  {%- # Space below description and above button: -%}
  .piaolsen-section-collection-sample__collection {
    padding-top: var(--piaolsen-spacing__section__collection-teaser__body--top);
    padding-bottom: var(--piaolsen-spacing__section__collection-teaser__body--bottom);
  }
  
  {%- # Space above product grid: -%}
  .section-{{ section.id }} .product-grid {
    margin-top: var(--piaolsen-spacing__section__collection-teaser__product-grid--top);
  }

  {%- # Space around product information: -%}
  .section-{{ section.id }} .card__information {
    padding-top: var(--piaolsen-spacing__section__collection-teaser__product-grid__product_info--top);
    padding-bottom: 0;
  }
  .section-{{ section.id }} .card-information > .price {
    margin-top: var(--piaolsen-spacing__section__collection-teaser__product-grid__product_info--vertical) !important;
  }
  
  /* Mobile **/
  @media screen and (max-width: 749px) {
    {%- # Makes collection image + product grid only page width: -%}
    .section-{{ section.id }} .image-with-text {
      padding-left: var(--piaolsen-spacing__page_width); 
      padding-right: var(--piaolsen-spacing__page_width);   
    }
  
    {%- # Makes product grid as wide as collection image: -%}
    .section-{{ section.id }} slider-component.page-width {
      padding-left: 0;
      padding-right: 0;
    }

    {%- # Column/Row space in product grid: -%}
      :root {
        --grid-mobile-horizontal-spacing: var(--piaolsen-spacing__section__collection-teaser__product-grid--horizontal);
        --grid-mobile-vertical-spacing: var(--piaolsen-spacing__section__collection-teaser__product-grid--vertical);
    }
 }  

  /* Desktop **/
  @media screen and (min-width: 750px) {  
    {%- # Makes product grid hit page width to the right: -%}
    .section-{{ section.id }} slider-component.page-width {
      padding-left: var(--piaolsen-spacing__section__collection-teaser__product-grid--left); 
      padding-right: 0;
    }
    
    {%- # Column/Row space in product grid: -%}
    :root {
      --grid-desktop-horizontal-spacing: var(--piaolsen-spacing__section__collection-teaser__product-grid--horizontal);
      --grid-desktop-vertical-spacing: var(--piaolsen-spacing__section__collection-teaser__product-grid--vertical);
    }
  }    
{%- endstyle -%}

{%- unless section.settings.quick_add == 'none' -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endunless -%}
{%- if section.settings.quick_add == 'standard' -%}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
{%- if section.settings.quick_add == 'bulk' -%}
  <script src="{{ 'quick-add-bulk.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quick-order-list.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- liquid
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif

  if section.settings.color_scheme == section.settings.section_color_scheme
    assign remove_color_classes = true
  endif

  assign image = section.settings.image
  if image == blank
    assign image = section.settings.collection.image
  endif

  assign products_to_display = section.settings.collection.all_products_count
  if section.settings.collection.all_products_count > section.settings.products_to_show
    assign products_to_display = section.settings.products_to_show
  endif
  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign show_mobile_slider = false
  if section.settings.swipe_on_mobile and products_to_display > columns_mobile_int
    assign show_mobile_slider = true
  endif
  assign show_desktop_slider = false
  if section.settings.enable_desktop_slider and products_to_display > section.settings.columns_desktop
    assign show_desktop_slider = true
  endif
-%}

<div class="section-{{ section.id }} isolate {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}" style="overflow: hidden;">
  <div class="page-width"><div class="piaolsen-section piaolsen-section--no-top-border">
    {% assign make_title_page_width = false %}
    <div class="{% unless make_title_page_width %}title-wrapper--self-padded-mobile {% endunless %}title-wrapper--no-top-margin">
      {%- # Title: -%}
      <h2 class="title inline-richtext {{ section.settings.title_size }}">
        {{ section.settings.title }}
      </h2>

      {%- # Description: -%}
      {%- if section.settings.show_description -%}
        <div class="rte {{ section.settings.description_style }}" {{ settings.shopify_attributes }}>
          {{ section.settings.description }}
        </div>
      {%- endif -%}
    </div>

    <div class="piaolsen-section-collection-sample__collection">
    <div class="image-with-text image-with-text--no-overlap isolate {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      <div class="image-with-text__grid grid grid--gapless grid--1-col grid--{% if section.settings.desktop_image_width == 'medium' %}2-col-tablet{% else %}3-col-tablet{% endif %}{% if section.settings.layout == 'collection_first' %} image-with-text__grid--reverse{% endif %}">
        {%- # Image: -%}
        <div class="image-with-text__media-item image-with-text__media-item--{{ section.settings.desktop_image_width }} image-with-text__media-item--top grid__item">
          <div
            class="image-with-text__media image-with-text__media--adapt global-media-settings{% unless remove_color_classes %} gradient color-{{ section.settings.color_scheme }}{% else %} background-transparent{% endunless %}{% if image != blank %} media{% else %} image-with-text__media--placeholder placeholder{% endif %}"
            {% if image != blank %}
              style="padding-bottom: {{ 1 | divided_by: image.aspect_ratio | times: 100 }}%;"
            {% endif %}
          >
            {%- if image != blank -%}
              {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
              {%- capture sizes -%}
                (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
              {%- endcapture -%}
              {{
                image
                | image_url: width: 1500
                | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
              }}
            {%- else -%}
              {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
          </div>
        </div>

        {%- # Collection items: -%}
        <div class="image-with-text__text-item grid__item">
          <div  
            class="collection{% if section.settings.quick_add == 'bulk' %} collection-quick-add-bulk{% endif %} {% if section.settings.full_width %} collection--full-width{% endif %}{% unless remove_color_classes %} gradient color-{{ section.settings.color_scheme }}{% else %} background-transparent{% endunless %}"
            id="collection-{{ section.id }}"
            data-id="{{ section.id }}"
          >
            <slider-component class="slider-mobile-gutter{% if section.settings.full_width %} slider-component-full-width{% endif %}{% if show_mobile_slider == false %} page-width{% endif %}{% if show_desktop_slider == false and section.settings.full_width == false %} page-width-desktop{% endif %}{% if show_desktop_slider %} slider-component-desktop{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
              <ul
                id="Slider-{{ section.id }}"
                data-id="{{ section.id }}"
                class="grid product-grid contains-card contains-card--product{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid--{{ section.settings.columns_desktop }}-col-desktop{% if section.settings.collection == blank %} grid--2-col-tablet-down{% else %} grid--{{ section.settings.columns_mobile }}-col-tablet-down{% endif %}{% if show_mobile_slider or show_desktop_slider %} slider{% if show_desktop_slider %} slider--desktop{% endif %}{% if show_mobile_slider %} slider--tablet grid--peek{% endif %}{% endif %}"
                role="list"
                aria-label="{{ 'general.slider.name' | t }}"
              >
                {% assign skip_card_product_styles = false %}
                {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
                  <li
                    id="Slide-{{ section.id }}-{{ forloop.index }}"
                    class="grid__item{% if show_mobile_slider or show_desktop_slider %} slider__slide{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                    {% if settings.animations_reveal_on_scroll %}
                      data-cascade
                      style="--animation-order: {{ forloop.index }};"
                    {% endif %}
                  >
                    {% render 'card-product',
                      card_product: product,
                      media_aspect_ratio: section.settings.image_ratio,
                      image_shape: section.settings.image_shape,
                      show_secondary_image: section.settings.show_secondary_image,
                      show_vendor: section.settings.show_vendor,
                      show_rating: section.settings.show_rating,
                      skip_styles: skip_card_product_styles,
                      section_id: section.id,
                      quick_add: section.settings.quick_add
                    %}
                  </li>
                  {%- assign skip_card_product_styles = true -%}
                {%- else -%}
                  {%- for i in (1..section.settings.columns_desktop) -%}
                    <li
                      class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                      {% if settings.animations_reveal_on_scroll %}
                        data-cascade
                        style="--animation-order: {{ forloop.index }};"
                      {% endif %}
                    >
                      {% liquid
                        assign ridx = forloop.rindex
                        case ridx
                          when 5
                            assign ridx = 1
                          when 6
                            assign ridx = 2
                        endcase
                      %}
                      {%- assign placeholder_image = 'product-apparel-' | append: ridx -%}
                      {% render 'card-product',
                        show_vendor: section.settings.show_vendor,
                        media_aspect_ratio: section.settings.image_ratio,
                        image_shape: section.settings.image_shape,
                        placeholder_image: placeholder_image
                      %}
                    </li>
                  {%- endfor -%}
                {%- endfor -%}
              </ul>
              {%- if show_mobile_slider or show_desktop_slider -%}
                <div class="slider-buttons">
                  <button
                    type="button"
                    class="slider-button slider-button--prev"
                    name="previous"
                    aria-label="{{ 'general.slider.previous_slide' | t }}"
                    aria-controls="Slider-{{ section.id }}"
                  >
                    {% render 'icon-caret' %}
                  </button>
                  <div class="slider-counter caption">
                    <span class="slider-counter--current">1</span>
                    <span aria-hidden="true"> / </span>
                    <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
                    <span class="slider-counter--total">{{ products_to_display }}</span>
                  </div>
                  <button
                    type="button"
                    class="slider-button slider-button--next"
                    name="next"
                    aria-label="{{ 'general.slider.next_slide' | t }}"
                    aria-controls="Slider-{{ section.id }}"
                  >
                    {% render 'icon-caret' %}
                  </button>
                </div>
              {%- endif -%}
            </slider-component>

            {% if section.settings.image_shape == 'arch' %}
              {% render 'mask-arch' %}
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
    </div>
    {%- # Button: -%}
    {%- if section.settings.button_label != blank -%}
      <div class="center">
        <a
          href="{{ section.settings.collection.url }}"
          class="button{% if section.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}"
          {{ settings.shopify_attributes }}
        >
          {{ section.settings.button_label | escape }}
        </a>
      </div>
    {%- endif -%}
  </div></div>
</div>

{% schema %}
{
  "name": "Pia · Kollektionsprøve",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Kollektion"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Billede",
      "info": "Hvis du ikke vælger et billede, vises blot billedet, der er knyttet til den valgte kollektion."
    },
    {
      "type": "select",
      "id": "desktop_image_width",
      "options": [
        {
          "value": "small",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-with-text.settings.desktop_image_width.label"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "image_first",
          "label": "Billede først"
        },
        {
          "value": "collection_first",
          "label": "Billede sidst"
        }
      ],
      "default": "image_first",
      "label": "t:sections.image-with-text.settings.layout.label"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Kollektionsprøve",
      "label": "Overskrift"
    },
    {
      "type": "select",
      "id": "title_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "Overskriftsstørrelse"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Beskrivelse"
    },
    {
      "type": "select",
      "id": "description_style",
      "label": "t:sections.featured-collection.settings.description_style.label",
      "options": [
        {
          "value": "body",
          "label": "t:sections.featured-collection.settings.description_style.options__1.label"
        },
        {
          "value": "subtitle",
          "label": "t:sections.featured-collection.settings.description_style.options__2.label"
        },
        {
          "value": "uppercase",
          "label": "t:sections.featured-collection.settings.description_style.options__3.label"
        }
      ],
      "default": "subtitle"
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "Vis beskrivelse",
      "default": false
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "t:sections.image-with-text.blocks.button.settings.button_label.default",
      "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
      "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
    },
    {
      "type": "checkbox",
      "id": "button_style_secondary",
      "default": false,
      "label": "Simpel knapstil"
    },
    {
      "type": "header",
      "content": "Produkter"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 25,
      "step": 1,
      "default": 4,
      "label": "Max antal produkter"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "Antal kolonner på computer"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "Antal kolonner på mobil",
      "options": [
        {
          "value": "1",
          "label": "t:sections.featured-collection.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.featured-collection.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Fuld bredde på computer",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_desktop_slider",
      "label": "t:sections.featured-collection.settings.enable_desktop_slider.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.featured-collection.settings.swipe_on_mobile.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "Tilskæring af produktbilleder"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.image_shape.options__1.label"
        },
        {
          "value": "arch",
          "label": "t:sections.all.image_shape.options__2.label"
        },
        {
          "value": "blob",
          "label": "t:sections.all.image_shape.options__3.label"
        },
        {
          "value": "chevronleft",
          "label": "t:sections.all.image_shape.options__4.label"
        },
        {
          "value": "chevronright",
          "label": "t:sections.all.image_shape.options__5.label"
        },
        {
          "value": "diamond",
          "label": "t:sections.all.image_shape.options__6.label"
        },
        {
          "value": "parallelogram",
          "label": "t:sections.all.image_shape.options__7.label"
        },
        {
          "value": "round",
          "label": "t:sections.all.image_shape.options__8.label"
        }
      ],
      "default": "default",
      "label": "Form på produktbilleder"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "Hvis alternativt produktbillede ved fokus"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_rating.label",
      "info": "t:sections.featured-collection.settings.show_rating.info"
    },
    {
      "type": "select",
      "id": "quick_add",
      "default": "none",
      "label": "t:sections.main-collection-product-grid.settings.quick_add.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_1"
        },
        {
          "value": "standard",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_2"
        },
        {
          "value": "bulk",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_3"
        }
      ]
    },
    {
      "type": "header",
      "content": "Farveskemaer"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "Ydre farveskema",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Indre farveskema",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Pia · Kollektionsprøve"
    }
  ]
}
{% endschema %}
